<article id="page-home" class="article article-type-page">
  <div class="article-inner">
    <header class="article-header">
      <h1><a class="article-title">Olá, eu sou o Artú</a><h1>
    </header>
    <div class="article-entry" itemprop="articleBody">
      <p>Artú é um projeto social feito pra mostrar o mundo da lógica de programação pras crianças de uma forma divertida, composto por uma história e um jogo.</p>
      <p>A missão principal desse projeto é estreitar o laço das crianças com o mundo da criatividade, inserindo alguns conceitos básicos da lógica de programação em uma história interativa.</p>

      <h2>Sinopse</h2>
      <p>Artú acorda anos depois de ter sido desligado pela última vez, agora, ele precisa da ajuda de pequenas mentes brilhantes pra conseguir reaprender suas habilidades e conquistar sua liberdade mundo afora. Ele funciona através de comandos, que a jogadora definirá como uma lista de receita, que depois é executada pelo nosso pequeno herói.</p>

      <h2>Responsabilidades do projeto</h2>

      <p>O projeto Artú tem três responsabilidades principais:</p>

      <ul>
        <li>O jogo digital gratuito, que servirá como ferramenta de interação e aprendizado;</li>
        <li>O livro, que contará a história de nosso robô, fazendo referências ao jogo;</li>
        <li>
          A disponibilização do acesso ao conteúdo para escolas e instituições voltadas às crianças:
          <ul>
          <li>Raspberry PI, monitor / projetor e periféricos</li>
          <li>Impressões físicas do livro</li>
          <li>Gincanas e apresentação do jogo nas instituições</li>
          </ul>
        </li>
      </ul>

      <h2>Como você pode ajudar</h2>

      <p>O projeto tá dando os primeiros passos agora, por isso, tem bastante coisa pra fazer! Montei uma lista de alguns exemplos de atividades seriam de grande ajuda:</p>

      <ul>
        <li>Desenvolvimento do jogo e protótipo</li>
        <li>Desenvolvimento do roteiro</li>
        <li>Pessoas mentoras durante as visitas às instituições (com ou sem conhecimento prévio em lógica)</li>
        <li>Busca por parcerias e patrocínio</li>
        <li>Ilustrações e arte digital</li>
        <li>Identidade visual e marca</li>
        <li>Financeiro e prestação de contas (como fazer da forma mais transparente possível?)</li>
        <li>Gestão de estoque e logística</li>
        <li>Acessibilidade digital</li>
      </ul>

      <p>Os temas acima são apenas uma sugestão, na verdade, toda ajuda é bem vinda. Ainda não existe a possibilidade de doações financeiras, apenas voluntariado.</p>
    </div>
  </div>
</article>
