.hero {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: white;
  transform: rotate(0deg);
}

.hero::before, .hero::after{
  display: block;
  content: ' ';
  width: 5px;
  height: 5px;
  left: 60%;
  position: absolute;
  border-radius: 15px;
  background-color: grey;
}

.hero::before {
  top: 23%;
}

.hero::after {
  top: 60%;
}

@keyframes hero-nudge {
  0% {
    margin-left: -15px
  }

  50% {
    margin-left: 0px
  }

  100% {
    margin-left: -15px
  }
}
