.hud-panel {
  background-color: grey;
  user-select: none;
  padding: 7px;
}

.clickable {
  cursor: pointer;
}

.score-panel {
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  max-width: 120px;
  text-align: center;
}

.memory-list {
  top: 0;
  bottom: 0;
  right: left;
  margin: auto 0;
  min-width: 200px;
  max-height: 50%;
}

.back-button {
  top: 4em;
}
