.hud-panel {
  background-color: #107dac;
  user-select: none;
  padding: 7px;
}

.hud-panel strong, h1 {
  color: whitesmoke;
}

.clickable {
  cursor: pointer;
}

.score-panel {
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  max-width: 120px;
  text-align: center;
}

.memory-list {
  top: 0;
  bottom: 0;
  right: left;
  padding: 10px;
  margin: auto 0;
  min-width: 200px;
  max-height: 50%;
  border-radius: 0px 10px 10px 0px;
}

.back-button {
  top: 4em;
}

.dark-scrollable-container {
  height: 80%;
  overflow-y: auto;
  background: #002537;
  color: #71c7ec;
  padding: 5px 5px 25px 9px;
  margin: 10px 0;
  border-radius: 4px;
}
