.instruction-list {
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  max-height: 50%;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  overflow: hidden;
}

.instruction-list .controls {
  position: absolute;
  bottom: 0px;
  left: 10px;
  background-color: #107dac;
  width: 90%;
  padding: 3px 3px 9px 3px;
  text-align: right;
}

.instruction-list .controls .control-button {
  display: inline-block;
}

