.level-selection {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 400px;
  max-height: 500px;
}

.level-selection ul {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  height: 90%;
}

.level-selection li {
  cursor: pointer;
  width: 100px;
  list-style: none;
  height: 100px;
  background: white;
  margin: 5px;
}
