.level-selection {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 600px;
  max-height: 500px;
  border-radius: 10px;
  padding: 13px;
}

.level-selection ul {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  height: 93%;
  overflow: auto;
}

.level-selection li {
  cursor: pointer;
  width: 120px;
  height: 120px;
  padding: 10px;
  font-size: 1rem;
  background: #71c7ec;
  margin: 5px;
  text-align: center;
  line-height: 120px;
}

.level-selection li.level-state-0 {
  pointer-events: none;
  opacity: 0.2;
}

.level-selection li.level-state-2 {
  background-color: #1ebbd7;
}

.level-selection span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
