.speech-balloon {
  color: black;
  background-color: white;
  padding: 5px;
  transform: translate(-50%, -120%);
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  animation: 'speech-appear' 180ms;
  font-size: 0.6rem;
  box-shadow: 0 3px 5px black;
  z-index: 2;
  transition: all ease-out 150ms;
  opacity: 0.6;
  user-select: none;
  max-width: 75px;
}

.speech-balloon.priority:hover {
  z-index: 5;
}

.speech-balloon.priority {
  z-index: 4;
  opacity: 1;
  background-color: #e3e3e3;
}

.speech-balloon:hover {
  z-index: 3;
  opacity: 1;
  margin-top: -3px;
  box-shadow: 0 3px 7px black;
}

@keyframes speech-appear {
  0% {
    opacity: 0
  }

  100% {
    opacity: 0.6
  }
}
