.tile {
  background-color: #4976f2;
  border: 1px solid #2926d2;
}

.tile--goal {
  background: #a2f1c0;
}

.tile--block {
  background: black;
  border-color: black;
}

.tile--gate::after {
  content: ' ';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 20%;
  display: block;
  transition: width ease-out 220ms;
  background: #2926d2;
}

.tile--gate.open::after {
  width: 10%;
}

.tile--speech-listener::after {
  content: ' ';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
  display: block;
  background: #a2f1c0;
  border-radius: 100%;
}

.tile--sign::after {
  content: ' ';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 50%;
  bottom: 0;
  height: 50%;
  display: block;
  border: 1px solid #101010;
  background: #819010;
}

.tile--friend::after {
  content: ' ';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 30%;
  bottom: 0;
  height: 70%;
  display: block;
  background: #f3c1c2;
  border-radius: 100%;
  transition: opacity ease-out 300ms;
  opacity: 1;
}

.tile--friend.caught::after {
  opacity: 0;
}
