<strong>Escolha a fase que quer jogar</strong>
<ul>
  {{#each levels}}
    <li class="level-state-{{this.state}}" data-name="{{this.configuration.name}}">
      <span>{{this.configuration.label}}</span>
    </li>
  {{/each}}
</ul>
