<article id="page-home" class="article article-type-page">
  <div class="article-inner">
    <header class="article-header">
      <h1><a class="article-title">Olá, eu sou o Artú</a><h1>
    </header>
    <div class="article-entry" itemprop="articleBody">
      <p>Artú é um projeto social feito pra mostrar o mundo da lógica de programação pras crianças de uma forma divertida, composto por uma história e um jogo.</p>
      <p>A missão principal desse projeto é estreitar o laço das crianças com o mundo da criatividade, inserindo alguns conceitos básicos da lógica de programação em uma história interativa.</p>

      <h2>Sinopse</h2>
      <p>Artú acorda anos depois de ter sido desligado pela última vez, agora, ele precisa da ajuda de pequenas mentes brilhantes pra conseguir reaprender suas habilidades e conquistar sua liberdade mundo afora. Ele funciona através de comandos, que a jogadora definirá como uma lista de receita, que depois é executada pelo nosso pequeno herói.</p>

      <h2>Responsabilidades do projeto</h2>

      <p>O projeto Artú tem três responsabilidades principais:</p>

      <ul>
        <li>O jogo digital gratuito, que servirá como ferramenta de interação e aprendizado;</li>
        <li>O livro, que contará a história de nosso robô, fazendo referências ao jogo;</li>
        <li>
          A disponibilização do acesso ao conteúdo para escolas e instituições voltadas às crianças:
          <ul>
          <li>Raspberry PI, monitor / projetor e periféricos</li>
          <li>Impressões físicas do livro</li>
          <li>Gincanas e apresentação do jogo nas instituições</li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</article>
